ion-content {
  --background: var(--ion-color-light-shade);

  .ion-item-profile {
    margin-top: 10px;

    ion-icon {
      font-size: 40px;
      margin-right: 10px;
    }

    ion-label {
      font-size: 14px;
      font-weight: 600;
    }

  }

  ion-list {
    margin-top: 40px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .ion-item-options {
    &.ion-item-last-option {
      margin-top: 40px;

      ion-icon {
        color: var(--ion-color-danger);
      }

    }

    ion-icon {
      font-size: 22px;
      margin: 6px 18px 6px 6px;
    }

    ion-label {
      font-weight: 500;
    }

  }

}

